*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body { 
    background-image: url(../images/bg3.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(235, 158, 15, 0.5);

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}


.contenedor__login-register form a{
    font-size: 30px;
    text-align: center;
    float: left;
    margin: 15px;
    border-radius: 1px;
    padding: 10px;
    border: #46a2fd 2px solid;
    color: #46A2FD;
}

.contenedor__login-register form a:hover{
    background-color: #46A2FD;
    color: white;
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

/*Principal*/
header{ 
    background-image: repeating-linear-gradient(rgb(189, 129, 0), rgb(207, 252, 7), rgb(25, 241, 187));
    align-content: center;  
    
}
header h1, header h2{
    text-align: center;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Century Gothic';
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/*Diseño del Menu*/

.title{
	width: 100%;
	background: #3FAF59;
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1{
	color: #fff;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
}

.navegacion{
	width: 100%;
	background: #1C1C1C;

	display: flex;
	justify-content: center;
}

.menu{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 90px;
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
	position: relative;
}

.menu .first-item{
	border-left: 1px solid #363636;
}

.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.menu .imagen{
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;

	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #1C1C1C;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 115%;
}

.menu li:hover .imagen{
	width: 100%;
	right: 0px;
}


/*Diseño pagina Contacto*/

#con {
    background: #31384a;
    color: #ffff;
    padding: 20px;
    margin: 5px;
    text-align: center;
    
}
form{
    width: 700px;
    border-radius: 2em;
    border: white 1px solid;
    margin: auto;
    background: rgba(0,0,0,0,4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20;
    
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    
    box-sizing: border-box;
    font-size: 17px;
  
}

textarea{
    min-width: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #31384a;
    color: #ffff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

#contac{
    background-color: rgba(1, 0, 0, 0.8);
    color: white;
    width: auto;
    text-align: center;
    padding: 15px;
}

/* diseño de pagina histori*/
section{
    float: left;
    width: 500;
}
 
article{
    background-color: rgba(250, 235, 215, 0.61);
    text-align: left;
    margin: 15px;
    border-radius: 2em;
    width: 700px;
    height: 300;
    border: 0.5px solid black;
    }

 aside{
        background-color: antiquewhite;
        text-align: center;
        border-radius: 2em;
        width: auto;
        height: 370px;
        float: left;
        border: 1px solid black;
        margin: 15px;  
    }

#historia{
    background-color: rgba(250, 235, 215, 0.705);
    text-align: center;
    border-radius: 2em;
    width: 500px;
    height: auto;
    float: left;
    border: 1px solid black;
    margin: 15px;  
    
}

p{
    margin: 20px;
    text-align: justify;
}

#p3,#p2,#p1{
    margin: 10px;
    text-align: center;
}

#his,#has,#hes,#hos{
    
    margin: 30px;
    color: #009879;
    text-decoration: underline;
    text-align: center;
}
#hus{
    
    margin: 30px;
    color: #6b29a1;
    text-decoration: underline;
    text-align: center;
}

#1,#2,#3,#4{
   
    text-align: center;
    width: 100px;
      float: left;
       
}

/* diseño de pagina productos*/
#prtop5{
    background-color: rgba(250, 235, 215, 0.61);
    border-radius: 2em;
    text-align: left;
    margin: 15px;
    width: 350px;
    height: 300;
    border: 0.5px solid black;
    }
 
#astop5,#pri {
    background-color: rgba(250, 235, 215, 0.705);
    border-radius: 2em;
    text-align: center;
    width: 700px;
    height: auto;
    float: left;
    border: 1px solid black;
    margin: 15px;     
}
#ho5{
    margin: 15px;
    font-size: 25px;
}
#top5{
    margin: 15px;
    text-align: center;
    border-radius: 2em;
    color: #009879;
    background: rgba(255, 255, 255, 0.63);
    font-family: fantasy;
    font-size: 50px;
}
footer{
	clear: both;
	width: 100%;
	height: 50px;   
    background-color: #009879;
}
footer h6{
    font-weight: bold;
    padding: 5px;
    color: #dddddd;
}
/* diseño de tablas*/
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  } 
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  } 
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  } 
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  } 
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  #a1,#a2,#a3,#a4,#a5{
      width: 150px;
  }

/* Aplicamos media queries para que la aplicacion sea response*/
@media (max-width:750px) 
{
    header{
        display: block;    
    }
    .menu{
        position: absolute;    
        background: black;
        width: 100%;
    }
    ul{
        flex-direction: column;
    }
    li{
        border-top: white 1px solid;
        margin: 15px;
    }
    form{
        width: 100%;
    }
    #Contac{
        margin: 35px;
        text-align: center;
    }
    aside{
        align-content: center;     
    }
    section{
        float: left;
    }
    #sect5{
        align-content: center;
        width: 100%;
    }
    #historia{
        text-align: center;
        align-content: center;
        width: auto;
    }
    #prtop5{
        text-align: left;
        width: auto;
    }
    #astop5, #pri{
        text-align: center;
        align-content: center;
        width: 100%;
    }
    article{
        text-align: center;
        width: auto;
        height: auto;
    }
    p, #p1, #p2, #p3{ 
        text-align: center;
    }
    footer{
        text-align: center;
    }
    #pri{
        position: initial;
    }
}